@import 'styles.css';
@import 'map-icon.css';

body {
  overflow-x: auto; 
  overflow-y: hidden; /* no vertical scroll */
  white-space: nowrap; /* keeps text from wrapping */
  position: relative;
  font-size: 1em;
}

p {
  display: flex;
  align-items: center; /* vertical center only */
  height: 100vh;
  margin: 0;
  position: relative; 
  z-index: 1; 
}

a {
  color: var(--color-2);
  font-weight: bold;
  text-decoration: none; /* removes underline */
}

@media (min-width: 768px) {
    body {
        font-size: 1.2em;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 1.4em;
    }
}