@import 'styles.css';
@import 'map-icon.css';

body {
  overflow-x: auto; 
  overflow-y: hidden; /* no vertical scroll */
  white-space: nowrap; /* keeps text from wrapping */
  position: relative;
}

p {
  margin: 1em;
}

#text {
  margin: 1em;
}

a {
  color: var(--color-3);
  font-size: inherit;
  font-weight: bold;
  text-decoration: none; /* removes underline */
}