@import 'styles.css';
@import 'map-icon.css';
@import 'line-1.css';

body {
    margin: 0
}

p {
    word-spacing: 100vw;
    line-height: 2;
    margin: 0;
    text-align: center;
}

a {
  color: var(--color-1);
  font-weight: bold;
  text-decoration: none; /* removes underline */
}