@import 'styles.css';
@import 'map-icon.css';

body {
    margin: 0;
    overflow-y: auto; /* allows vertical scrolling */
    height: 100vh;
    position: relative;
}

p {
    word-spacing: 100vw;
    line-height: 2;
    margin: 0;
    text-align: center;
}

a {
  color: var(--color-2);
  font-weight: bold;
  font-size: inherit;
  text-decoration: none;
}

#orange {
  color: var(--color-3);
  font-size: inherit;
  font-weight: bold;
  text-decoration: none; /* removes underline */
}