@import 'styles.css';
@import 'map-icon.css';

body {
    text-align: center;
    margin: 5em;
    font-size: 1em;
    margin-top: 0;
}

p {
    word-spacing: 100vw;
    line-height: 2;
}

a {
  color: var(--color-1);
  font-weight: bold;
  text-decoration: none; /* removes underline */
}

@media (min-width: 768px) {
    body {
        font-size: 1.2em;
    }
}

@media (min-width: 1024px) {
    body {
        font-size: 1.4em;
    }
}