@import 'styles.css';

body {
  overflow-x: auto; 
  overflow-y: hidden; /* no vertical scroll */
  white-space: nowrap; /* keeps text from wrapping */
}

p {
  display: flex;
  align-items: center; /* vertical center only */
  height: 100vh;
  margin: 0;
}

a {
  color: var(--color-2);
  font-weight: bold;
  text-decoration: none; /* removes underline */
}