@import 'styles.css';

body {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  margin: 0;
  position: relative;
}

.line-horizontal {
  width: 100vw; 
  height: 0.45em; /* thickness */
  background-color: var(--color-2);
  position: absolute;
  transition: opacity 0.1s ease;
}

.line-horizontal:hover {
  opacity: 0.8;
  box-shadow: 0 0 0.2em rgba(255, 255, 255, 0.827);
}

.line-vertical {
  width: 0.45em;
  height: 100vh; /* or 100vh for full height */
  background-color: var(--color-1);
  position: absolute;
  transition: opacity 0.1s ease;
} 

.line-vertical.pink {
  background-color: pink;
}

.line-vertical:hover {
  opacity: 0.8;
  box-shadow: 0 0 0.2em rgba(255, 255, 255, 0.827);
}

@media (min-width: 768px) {
    .line-horizontal {
      height: 0.5em;
    }
    .line-vertical {
      width: 0.5em;
    }
}

@media (min-width: 1024px) {
    .line-horizontal {
      height: 0.6em;
    }
    .line-vertical {
      width: 0.6em;
    }
}

@media (min-width: 1440px) {
    .line-horizontal {
      height: 0.8em;
    }
    .line-vertical {
      width: 0.8em;
    }
}