@import 'styles.css';

body {
    text-align: center;
    margin: 5em;
}

p {
    word-spacing: 100vw;
    line-height: 2;
}

a {
  color: var(--color-1);
  font-weight: bold;
  text-decoration: none; /* removes underline */
}