@import 'styles.css';

.map {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9em !important;
  position: fixed !important;
  margin: 0.5em;
  top: 1em;
  left: 1em;
  transform-origin: left;
  transition: transform 0.1s ease;
  z-index: 9999; /* way higher */
  pointer-events: auto; /* ensures it's clickable */

}

.map img {
  padding: 0.3em;
  filter: brightness(0.8); 
  width: 1.3em;
  height: auto;
}

.map img:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

@media (min-width: 768px) {
    .map img {
        width: 1.5em;
        height: 1.5em;
        top: 1.5em;
        right: 1.5em;
    }
}

/* Desktop (1024px+) */
@media (min-width: 1024px) {
    .map img {
        padding: 0.2em;
        width: 1.7em;
        height: 1.7em;
    }
}