@import 'styles.css';

.map {
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9em !important;
  position: fixed !important;
  top: 1.2em;
  left: 1.1em;
  transform-origin: left;
  transition: transform 0.1s ease;
  z-index: 1000;
  pointer-events: auto;
}

.map img {
  padding: 0;
  filter: brightness(0.8); 
  width: 1.4em;
  height: auto;
  display: block;
}

.map img:hover {
  filter: brightness(1.2);
  cursor: pointer;
}

@media (min-width: 768px) {
    .map {
        top: 1.5em;
        left: 1.2em;
    }
    .map img {
        width: 1.5em;
        height: 1.5em;
    }
}

/* Desktop (1024px+) */
@media (min-width: 1024px) {
    .map img {
        width: 1.7em;
        height: 1.7em;
    }
}