@import 'styles.css';

.map {
  color: rgb(208, 2, 2);
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9em;
  position: fixed;
  margin: 0.5em;
  top: 0.2em;
  left: 0.2em;
  transform-origin: left;
  transition: transform 0.1s ease;
}

.map:hover {
  transform: scale(1.5);
}