@import 'styles.css';

.map {
  color: rgb(208, 2, 2);
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9em !important;
  position: fixed;
  margin: 0.5em;
  top: 0.2em;
  left: 0.2em;
  transform-origin: left;
  transition: transform 0.1s ease;
  z-index: 9999; /* way higher */
  pointer-events: auto; /* ensures it's clickable */
}

.map:hover {
  transform: scale(1.5);
  cursor: pointer;
}