 @import url("https://use.typekit.net/brm2bfv.css");
 @import 'map-icon.css';

:root{
    --font-primary: "univers-next-pro", sans-serif;
    --color-1: rgb(248, 195, 0);
    --color-2: rgb(0, 146, 63) ;
    --color-3: rgb(231, 120, 23);
}

/* reset */
body {
    margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

body {
    background-color: black;
    color: white;
    font-family: var(--font-primary);
    overflow: hidden;
    height: 100vh;
    position: fixed;
    width: 100%;
}

p {
    color: white;
    z-index: 1;
    font-size: 1.2em;
}

a {
    font-size: 1.2em;
}

@media (min-width: 768px) {
    p {
        font-size: 1.5em;
    }
    a {
        font-size: 1.5em;
    }
}

@media (min-width: 1024px) {
    p {
        font-size: 1.9em;
    }
    a {
        font-size: 1.9em;
    }
}