@import '../about.css';

.easter-egg {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    aspect-ratio: 1/1;
    z-index: 1000;
    cursor: grab;
    align-items: center;
    gap: 8px;
    background-color: blue;
    border-radius: 50%;
    top: 4em;
    right: 1.5em;
}

@media (min-width: 768px) {
    .easter-egg {
        width: 1.5em;
        height: 1.5em;
        top: 4em;
        right: 1.5em;
    }
}

/* Desktop (1024px+) */
@media (min-width: 1024px) {
    .easter-egg {
        width: 1.7em;
        height: 1.7em;
        top: 5em;
        right: 1.5em;
    }
}

.easter-egg.dragging {
    cursor: grabbing;
}

.easter-egg p {
    display: none; /* Hide hint completely */
}

#egg-popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    z-index: 9999;
    align-items: center;
    justify-content: center;
}

#egg-popup.active {
    display: flex;
}

.egg-trigger {
    width: auto;
    max-width: 500px;
    padding: 2rem;
    border-radius: 8px;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    scale: 1;
    transition: all 0.3s ease-out;
}

#egg-modal-close {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: rgb(226, 64, 64);
    transition: all 0.3s ease-out;
    float: right;
}

#egg-modal-close:hover {
    color: rgb(184, 40, 40);
}

#egg-modal-content {
    font-size: 1.2rem;
    margin: 1rem 0;
    text-align: center;
}

#egg-modal-btn {
    margin-top: 2rem;
    padding: 0.5em 2.4rem;
    border-radius: 30px;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    display: block;
    margin-left: auto;
    margin-right: auto;
}